#pagination{
	display: flex;
	justify-content: center;
}
.blocks{
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #DDDDDD;
	display: inline-block;
	text-decoration: none;
	color: black;
	cursor: pointer;
	list-style: none;
}
.blocks:not(:first-child){
	margin-left: 5px;
}
.blocks:first-child{
	border-radius: 10px 0 0 10px;
}
.blocks:last-child{
	border-radius: 0 10px 10px 0;
}
.blocks:hover{
	background-color: #DDDDDD;
}
#pagination li.active{
	background-color: #3498db;
	color: white;
}
#pagination button.disabled{
	background-color: #e6e6e6;
	opacity: 0.4;
	cursor: not-allowed;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
}
th {
	border-bottom: 1px solid #ccc;
	padding: 0.563rem 0;
	text-transform: capitalize;
}
td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #f7f7f7;
}
.button {
  border: 0;
  border-radius: 0.25rem;
  background: #3498db;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.removeSelected {
	margin: 0.5rem;
	background-color: #e74c3c;
	padding: 0.5rem;
}